ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    li {
        font-size: 1.6rem;
        font-weight: bold;
        height: 8rem;
        text-align: center;
        width: 20rem;

        a {
            color: slateblue;
            text-decoration: none;
        }
    }
}
