@import "../../styles.scss";

li {
    font-size: 1.6rem;
    font-weight: bold;
    height: 4rem;
    text-align: center;
    width: 20rem;

    a {
        color: $primaryColor;
        text-decoration: none;
    }
}
