<div class="detail-card">
    <h1 class="detail-title">{{ details["name"] }}</h1>
    <ul class="detail-list">
        <li>Type: {{ details["type"] }}</li>
        <li>Size: {{ details["size"] }}</li>
        <li>Alignment: {{ details["alignment"] }}</li>
        <li>AC: {{ details["armor_class"] }}</li>
        <li>HP: {{ details["hit_points"] }}</li>
        <li>Hit Dice: {{ details["hit_dice"] }}</li>
        <li>STR: {{ details["strength"] }}</li>
        <li>DEX: {{ details["dexterity"] }}</li>
        <li>CON: {{ details["constitution"] }}</li>
        <li>INT: {{ details["intelligence"] }}</li>
        <li>WIS: {{ details["wisdom"] }}</li>
        <li>CHA: {{ details["charisma"] }}</li>
    </ul>
</div>
