@import "../styles.scss";

nav {
    background-color: $primaryColor;
    padding: 0;
    font-size: 1.6rem;
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: snow;
            display: block;
            padding: 0.5rem;
            text-decoration: none;

            &:hover {
                background-color: $primaryDark;
            }
        }

        a.logo {
            background: $primaryDark;
            font-size: 2.4rem;

            &:hover {
                background-color: $primaryColor;
                font-weight: bolder;
            }
        }
    }

    @media screen and (min-width: $medium) {
        ul {
            align-items: center;
            display: flex;
            justify-content: center;

            a {
                margin-right: 1rem;
                padding: 0.5rem;

                &:hover {
                    border-radius: 4rem;
                }
            }

            a.logo {
                margin-right: 1rem;
            }
        }
    }

    @media screen and (min-width: $large) {
        ul {
            justify-content: unset;

            a {
                margin-right: 2rem;
            }

            a.logo {
                margin-right: 2rem;
            }
        }
    }
}
