@import "../styles.scss";

nav {
    background-color: $primaryColor;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
            &:hover {
            }
        }
    }

    a {
        color: snow;
        display: block;
        padding: 0.5rem;
        text-decoration: none;

        &:hover {
            background-color: $primaryDark;
        }
    }

    a.logo {
        background: $primaryDark;
        font-size: 2.4rem;

        &:hover {
            background-color: $primaryColor;
            font-weight: bolder;
        }
    }
}
